# Python environment
venv

# Flask config
.flaskenv

# Cache
__pycache__
*.pyc


# The Database
app.db

# Logs
logs

# Babel
messages.pot

# Miscellaneous
A.py
B.py
.vscode
replace
translated.po.bak
messages.po.bak2
yandex_key
requirements.org
